* {
	margin: 0;
	padding: 0;
	border: 0;

	outline: none;
	text-decoration: none;
	outline: none;

    box-sizing: border-box;
	}

ol,
ul,
li {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

textarea,
select {
	appearance: none !important;
	-webkit-appearance: none !important;
	border-radius: 0;
}
body {
    background-color: #fff257;
}


.topnav {
    position: fixed;
    
    width: 100%;
    height: 80px;
    
    background-color: #fff257;

    z-index: 100;
}

.leftnav {
    position: fixed;
    
    width: 60px;
    height: 100%;
    
    background-color: #33793f;

    z-index: 200;
}

.topnav button.material-icons.md-36 {
    
    position:absolute;
    padding: 10px;
    margin: 10px;
    right: 0;

    color: #fff257;
    background-color: #33793f;
    font-size: 24px;  
    border-radius: 50%;  

}

.leftnav button.material-icons.md-36 {
    
    position:absolute;
    top: 12px;
    left: 12px;

    width: 40px;
    height: 40px;

    color: #fff257;
    background-color: #33793f;
    font-size: 36px;    

    border-radius: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;

    margin:auto;
    margin-left: 60px;
    padding: 80px 60px;
    
    align-items: center;
    justify-content: center;

    max-width: 1280px;

    background-color: #fff257;
}

.card {    
    flex-basis: auto;

    margin: 50px 10px;
    padding: 20px 20px 60px;
    width: 340px;

    background-color: #fff;
    border: solid 1px #33793f;
    
}

.textcontainer {
    display: flex;

    justify-content: center;
    align-items: center;

}

.sub {
    
    top: -20px;
    right: -20px;

    justify-content: center;
    align-items: center;
    
    padding: 10px;

    width: 120px;

    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 800;
    color:#fff257;
    background-color: #33793f;
} 

.title {
  
    flex-basis: auto;
    padding: 20px 0;
    color: #33793f;

    width: auto;
    min-height: 62px;

    text-align: center; 
    
    
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 800;    
    
}

.text {
    width: auto;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 700;
    color: #666;
}

.card button {
    position: relative;
    bottom: -65px;
    text-align: left;
    padding-left: 12px;

    width: 160px;
    height: 50px;

    font-size: 14px;

    background-color: #fff;
    color:#666;

    border: 1px solid #666;
    border-radius: 25px;
}

.card button .material-icons.md-36 {
    position: absolute;
    bottom: 6px; 
    right: 6px;   
    color: #666;
    font-size: 36px; 
}

.card button:hover {
    background-color: #666;
    color: #fff;
    border: 1px solid #fff;
}

.card button:hover .material-icons.md-36 {
    color:#fff;
}